target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### Variables de entorno y credenciales ###
.env
.env.local
.env.development
*.pem
*.key

### Logs ###
*.log
